name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
        matrix:
          # 定义 os 变量, 包含要测试的所有操作系统
          os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Install protobuf compiler (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler
    - name: Install protobuf compiler (Windows)
      if: matrix.os == 'windows-latest'
      run: choco install protoc -y
    - name: Install protobuf compiler (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install protobuf
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
